<button (click)="logout()">Wyloguj się</button>
<p>Greetings!</p>

<div class="row">

  <div class="col-3">
    <app-chat-user-list [users]="users" (userClicked)="userSelected($event)"></app-chat-user-list>
  </div>

  <div class="col-6 ">
    <ng-container *ngIf="selectedUser" class="">
      <div class="row">
        <div class="col-12">
          <app-chat-message-list></app-chat-message-list>
        </div>
        <div class="col-12">
          <app-chat-new-message-area (sendButtonClicked)="sendMessage($event)"></app-chat-new-message-area>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!selectedUser">
      Please select user
    </ng-container>

  </div>


  <div class="col-3">
    <ng-container *ngIf="selectedUser">
      {{selectedUser.user_name}}
      <br />
      {{selectedUser.user_id}}
    </ng-container>

  </div>

</div>