.chat-messages-box
    float:right
    height: 100%
    width:100%
    padding:3px
    background-color: blue
    
.chat-messages
    height:100%
    margin: 5px
    overflow:auto
    background-color: lightblue