<!-- 
    TODO: przekształć  poniższe pole tekstowe i przycisk na  "input-group" zawierający pole tekstowe i przycisk z biblioteki bootstrap
    Dokumentacja: https://getbootstrap.com/docs/4.0/components/input-group/
-->
<div class="input-group">
    <input type="text" class="form-control form-control-sm" [(ngModel)]="message" (keyup.enter)="sendMessage()">
    <div class="input-group-append">
        <button class="btn btn-sm" type="button" (click)="sendMessage()">Send</button>
    </div>
</div>